.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding:0 2rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.05), 0 2px 4px -2px rgb(0 0 0 / 0.05);
    height: 4.5rem;

    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;

}

.navbar .logo{
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    padding: 1rem 0;
    width: 33.3vw;
    
}
.navbar .logo text{
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    cursor: pointer;
    
}
.navbar .logo .logo-icon{
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.3rem;
    margin: 0 0.5rem 0 0;
    color: black;
    background-color: #4CAF50;
    border-radius: 10px;
    cursor: pointer;


}
.navbar ul{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: auto;


}
.navbar ul li{
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    margin: 0 1rem;
}
.navbar ul a{
    text-decoration: none;
    color: black;
}
.logo-link{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0;
}
.navbar .free-space{
    width: 33.3vw;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: right;
}

